<!DOCTYPE html>
<html lang="en">
<head>
  <title>Desafio E-mails</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Desafio E-mails</h1>
  <p>Desafio proposto para cumprir a terceira etapa do processo seletivo.</p>
</div>

<div class="container">

{% csrf_token %}
  <div class="row col-sm-6">
    <div class="col-sm-5">
      <div class="panel panel-success">
        <div class="panel-heading">E-mail Adicionado a lista</div>
        <div class="panel-body">
            <p>
                {{ emailAdicionado }}
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
     <div class="panel panel-success">
        <div class="panel-heading">Resultados</div>
     </div>
    <div class="col-sm-6">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Total de E-mails</th>
              <th scope="col">Total de E-mails Corretos</th>
              <th scope="col">Total de E-mails Errados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{totalEmails}}</td>
              <td>{{totalCertos}}</td>
              <td>{{totalErrados}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Erros - Gmails</th>
              <th scope="col">Erros - Hotmails</th>
              <th scope="col">Erros - Hotmails BR</th>
              <th scope="col">Erros - Hotmails MX</th>
              <th scope="col">Erros - Hotmails AR</th>
              <th scope="col">Erros - MSN</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</body>
</html>
