<!DOCTYPE html>
<html lang="en">
<head>
  <title>Desafio E-mails</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Desafio E-mails</h1>
  <p>Desafio proposto para cumprir a terceira etapa do processo seletivo.</p>
</div>

<div class="container">

{% csrf_token %}
  <div class="row">
    <div class="col-sm-5">
      <div class="panel panel-success">
        <div class="panel-heading">Adicionar E-mail</div>
        <div class="panel-body">
          {% for email in x %}
            <p>
                {{ email }}
            </p>
           {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
