@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    height: 670px;
    opacity: 1;
}

.corBg{
    color:black;
}

#form{
    text-align: center;
    padding: 50px;
    
    background: white;
}